config.json
config.cfg
__pycache__/
python3.11/
.idea/
data/*.json
.chatgpt_cache.json
Dockerfile.dev
**/.DS_Store
venv/
.vscode/
config.yaml
config.yaml.bak
data/config.yaml
data/config.yaml.bak
logs/
**/password.hash
dist/
build/
*.egg-info/
.coverage
/web/
