[MASTER]
# Use multiple processes to speed up Pylint. Specifying 0 will auto-detect the
# number of processors available to use.
jobs=0


[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s).
disable=all

# Enable the message, report, category or checker with the given id(s).
enable=c-extension-no-member,
       bad-indentation,
       bare-except,
       broad-except,
       dangerous-default-value,
       function-redefined,
       len-as-condition,
       line-too-long,
       misplaced-future,
       missing-final-newline,
       mixed-line-endings,
       multiple-imports,
       multiple-statements,
       singleton-comparison,
       trailing-comma-tuple,
       trailing-newlines,
       trailing-whitespace,
       unexpected-line-ending-format,
       unused-import,
       unused-variable,
       wildcard-import,
       wrong-import-order


[FORMAT]

# Expected format of line ending, e.g. empty (any line ending), LF or CRLF.
expected-line-ending-format=LF

# Regexp for a line that is allowed to be longer than the limit.
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

# Maximum number of characters on a single line.
max-line-length=120

# Maximum number of lines in a module.
max-module-lines=2000


[EXCEPTIONS]

# Exceptions that will emit a warning when being caught. Defaults to
# "BaseException, Exception".
overgeneral-exceptions=BaseException,
                       Exception