ims:
  enable:
    telegram: ['telegram-bot-1234']
  configs:
    telegram-bot-1234:
      token: 'abcd'

plugins:
  enable: []

web:
  host: "127.0.0.1"
  port: 8080
  secret_key: "please-change-this-to-a-secure-secret-key"