graia-ariadne==0.11.5
graiax-silkcoder
revChatGPT==4.2.3
toml~=0.10.2
Pillow>=9.3.0
tinydb~=4.7.1

loguru~=0.7.0
asyncio~=3.4.3
pydantic~=1.10.7

markdown~=3.4.3
python-markdown-math~=0.8
pygments~=2.15.1
imgkit~=1.2.3
qrcode~=7.4.2
openai~=0.27.7
EdgeGPT==0.3.8.1
aiohttp~=3.8.4
OpenAIAuth~=0.3.6
urllib3~=1.26.15
BingImageCreator~=0.1.5

requests~=2.28.2
uuid~=1.30

python-telegram-bot==20.3
aiocqhttp~=1.4.3
tls-client
python-dateutil~=2.8.2
discord.py
azure-cognitiveservices-speech
poe-api~=0.3.1

regex~=2023.3.23
httpx
Quart==0.17.0

edge-tts
wechatpy~=2.0.0a26
pydub~=0.25.1
