graia-ariadne==0.11.3
graiax-silkcoder
revChatGPT==4.0.11
toml~=0.10.2
Pillow>=9.3.0
tinydb~=4.7.1

loguru~=0.6.0
asyncio~=3.4.3
pydantic~=1.10.5

markdown~=3.4.3
python-markdown-math~=0.8
pygments~=2.10.0
imgkit~=1.2.2
qrcode~=7.4.2
openai~=0.27.2
EdgeGPT==0.1.10.1
aiohttp~=3.8.3
selenium~=4.8.3
OpenAIAuth~=0.3.2
urllib3~=1.26.15

requests~=2.28.2
uuid~=1.30
janus~=1.0.0

python-telegram-bot
aiocqhttp
tls-client
undetected_chromedriver
python-dateutil
discord.py
azure-cognitiveservices-speech
poe-api~=0.2.4
